body {
    background-color: #0e0f11;
}

.winners {
    font-family: "Jost", Verdana, Tahoma, sans-serif;
    height: 400px;
    width: auto;
    color: #f9f4da;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.winner {
    justify-content: center;
    text-align: center;
}

.first {
    width: 25%;
    border-radius: 16px;
    background-color: #231f20;
    padding: 32px;
    border: 6px solid #bfa75d;
    font-size: larger;
}

.winner h2,
.winner p {
    margin: 4px 0 0;
}

.third,
.second {
    background-color: #1a1819;
    width: 20%;
    padding: 30px;
    border: 6px solid #4eb77f;
}

.second {
    border-radius: 0 16px 16px 0;
    padding-right: 24px;
    border-left: none;
}

.third {
    border-radius: 16px 0 0 16px;
    padding-right: 24px;
    border-right: none;
}