body {
    background-color: #0e0f11;
}

.outer {
    background-color: black;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

h1 {
    font-family: "Jost", Verdana, Tahoma, sans-serif;
    color: #f9f4da;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 32px;
}

.winners {
    font-family: "Jost", Verdana, Tahoma, sans-serif;
    height: 400px;
    width: auto;
    color: #f9f4da;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto 18px;
    padding: 0;
}


.winner {
    justify-content: center;
    text-align: center;
}

.first {
    width: 25%;
    border-radius: 16px;
    background-color: #231f20;
    padding: 32px;
    /* border: 6px solid #bfa75d; */
    font-size: larger;
}

.winner h2,
.winner p {
    margin: 4px 0 0;
}

.third,
.second {
    background-color: #1a1819;
    width: 20%;
    padding: 30px;
    /* border: 6px solid #4eb77f; */
}

.second {
    border-radius: 0 16px 16px 0;
    padding-right: 24px;
    border-left: none;
}

.third {
    border-radius: 16px 0 0 16px;
    padding-right: 24px;
    border-right: none;
}


a,
.no-decor {
    text-decoration: none!important;
    color: inherit;
}

.prev-winner a {
    align-items: center;
    display: flex;
    color: #f9f4da;
    gap: 12px
}

h3 {
    text-align: center;
    color: #7d7e78;
    font-family: "Jost", Verdana, Tahoma, sans-serif;
    font-weight: 400;
}

.prev-winner {
    padding: 8px;
    background-color: #1a1819;
    border-radius: 8px;
    margin: 12px auto;
}

.prev-winners {
    display: table;
    margin: 4px auto;
    font-family: "Jost", Verdana, Tahoma, sans-serif;
}

img {max-width:100%;}



